.head {
    background: #b6b6b6;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    margin: -10px;
    padding: 10px;
  }
  
  .head img {
    height: 1.3in;
    width: 2.1in;
    margin-left: 0.5in;
  }

  .login-box {
    margin: auto;
    margin-top: 1in;
    width: 4in;
    padding: 0.4in;
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .login-box h2 {
    color: black;
    text-align: center;
  }
  
  .login-box .indiv input {
    width: 100%;
    padding: 10px 0;
    color: rgb(24, 0, 0);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
  }
  
  .slink {
    margin-top: 10px;
  }
  
  .butt {
    text-transform: uppercase;
    background-color: #ff497c;
    font-size: 16px;
    letter-spacing: 4px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 4px;
    padding: 10px;
    transition: 0.5s;
    width: 100%;
  }
  
  .butt:hover {
    transition: 0.5s;
    background: white;
    border-radius: 5px;
    color: #ff497c;
    box-shadow: 0 0 5px #ff497c, 0 0 5px #ff497c, 0 0 5px #ff497c, 0 0 5px #ff497c;
  }